form label.error {
  color:red;
  width:100%;
  display:inline-block;
}
.ui-input-text.error {
  padding-left:18px;
  background-image: inherit;
  background-position: inherit;
  background-color: rgba(255, 0, 0, 0.4);
}
